{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base08">t</span><span class="base09">e</span><span class="base0a">c</span><span class="base0b">h</span><span class="base0c">.</span><span class="base0d">l</span><span class="base0e">o</span><span class="base0f">g</span><span class="base05">]</span>
  <span class="base05"># _</span>
</h1>

<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>

<div style="text-align: center;">
  A frequently updated feed of all the tech-related stuff I'm working on.
</div>
